@import url('https://fonts.googleapis.com/css?family=Courgette|Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

* {
    margin: 0;
    padding: 0;
  }  
h1{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0px !important;
    text-align: center;
    background-color: wheat;
    font-family: 'Aldrich', sans-serif;
    color: #000080;
}
h2, h3, h4, h5{
    font-family: 'Aldrich', sans-serif;
    color: black;
    text-align: left;
}
/*-----------header-------------*/
#header {
    background: #20B2AA;
}
#header .company-name img{
    width: auto;
    height: auto;
}
#header a{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    letter-spacing: 0.5px;
}
#header .dropdown-menu{
    background: #20B2AA;
    box-shadow: 0 0 4px 2px rgba(32, 178, 170, 0.8), 0 0 4px 2px rgba(0, 0, 128, 0.4);
    border-radius: 0 15px 0 15px;
    padding: 0.1rem 0.7rem;
}
#header .dropdown:hover .dropdown-menu{
    display: inline-block;
}
#header .dropdown-item:hover{
    background: linear-gradient(#ffffff, #20B2AA);
    border-radius: 0 10px 0 10px;
    border: 1px solid #000080;
}
#header .nav-link:hover{
    background: linear-gradient(#ffffff, #20B2AA);
    border: 1px solid #000080;
    border-radius: 0 10px 0 10px;
}
#header .navbar-expand-lg a:hover{
    color: #000080;
} 
#header .navbar-nav a:hover{
    color: #000080;
}
#header .nav-item:last-child{
    padding-right: 0rem;
}
#header .nav-link{
    padding: 0.5rem 1rem;
}
#header .dropdown-item{
    padding: 0.4rem 1rem;
}
#header .navbar-toggler-icon{
    color: #000080;
    width: 50px;
    height: 50px;
}

/*-----------slider---------*/
#slider{
    position: relative;
    background: -webkit-linear-gradient(85deg, rgb(119, 114, 114, 0.5), rgb(255, 255, 255, 1));
}
#slider .container{
    padding: 50px 0;
}
#slider .float{
    display: inline-flex;
    flex-wrap: wrap;
    place-content: center;
    align-items: center;
    color: black;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}
#slider .float h2{
    font-size: 48px;
    /* text-shadow: 5px 5px 5px #279f9f; */
}
#slider .left{
    width: 50%;
}
#slider .right{
    width: 40%;
}
#slider .btn-primary{
    font-size: 14px;
    padding: 8px 22px;
    background-color: #20B2AA;
    border: none;
    font-family: 'Andada', serif;
    color: black;
    border-radius: 5px;
}
/*--------------marquee----------*/
.marquee{
    padding-top: 5px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    letter-spacing: 0.6px;
}
.marquee h2{
    text-align: center;
}
.marquee img{
    margin-left: 50px;
    width: 100px;
    height: 100px;
}
/*--------------About--------------*/
#about {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 27px;
    letter-spacing: 0.6px;
    color: black;
    margin-top: 20px;
}
#about .float{
    position: relative;
    display: inline-flex;
    flex-wrap: wrap;
    color: black;
}
#about .left{
    width: 40%;
    text-align: center;
}
#about .right{
    width: 60%;
}
#about .btn-primary{
    font-size: 14px;
    padding: 8px 22px;
    margin-top: 20px;
    background-color: #20B2AA;
    border: none;
    font-family: 'Andada', serif;
    color: black;
    border-radius: 5px;
}
#about p{
    text-indent: 50px;
    text-align: justify;
}

/*--------------swiper------------*/
/* #swiper .container{
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 0 20px 0 20px;
    box-shadow: 0 4px 8px 0 rgba(225, 225, 225, 0.8), 0 6px 20px 0 rgba(0, 0, 128, 0.4); 
} */
#swiper h6{
    font-family: 'Andada', serif;
    font-size: 14px;
    color: black !important;
}
#swiper h2{
    padding-bottom: 10px;
}
#swiper .progress-bar{
    background-color: #20B2AA;
    color: #000080;
}
#swiper .progress{
    font-family: 'Aldrich', sans-serif;
    border-radius: 15px !important;
    background-color: lightgrey;
    margin-bottom: 12px;
}

/*--------------profiles-----------*/
#profiles .swiper-slide{
    background-position: center;
    background-size: cover;
    background: #d3d3d3;
    border: 1px solid #808080;
    border-radius: 0 90px 0 50px;
    align-items: center;
    width: 260px;
    height: 380px;
    overflow: hidden;
}
#profiles h5, .info{
    text-align: center !important;
}
#profiles .info h6{
    font-family: Arial, Helvetica, sans-serif;
}
#profiles .info a{
    color: black;
}
#profiles .info a:hover{
    color: #000080;
}
#profiles .swiper-pagination{
    position: relative;
    bottom: 0px;
}
#profiles .img-box{
    height: 205px;
    background: wheat;
    border: 2px solid #000080;
    border-radius: 0 90px;
    overflow: hidden;
}

/*-----------services--------------*/
#services .parallax{
    background: url(../images/parallax.png) no-repeat;
    background-attachment: fixed;
    height: 500px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 27px;
    font-size: 14px;
    position: relative;
    z-index: -1;
}
#services .parallax .parallax-info{
    padding-left: 45rem;
    padding-top: 8rem;
    width: fit-content;
}
#services .parallax .parallax-info .parallax-style{
    padding: 20px;
    border-color: #000080;
    background: #efefef;
    border-radius: 0 15px 0 15px;
    box-shadow: 0 4px 8px 0 rgba(225, 225, 225, 0.8), 0 6px 20px 0 rgba(0, 0, 128, 0.4);
}
#services .parallax .parallax-info .parallax-style ul{
    list-style-type: none;    
    text-indent: 20px;
}
#services p{
    font-family: 'Andada', serif;
}
#services .container{
    padding-top: 30px;
    padding-bottom: 20px;
    /* border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(225, 225, 225, 0.8), 0 6px 20px 0 rgba(0, 0, 128, 0.4); */
}
#services .row a{
    text-align: center;
    color: black;
    font-family: 'Aldrich', sans-serif;
    font-size: 14px;
}
#services .row a:hover{
    color: #000080;
    text-decoration: underline;
}
#services .services-heading{
    text-align: center;
    background-color: aliceblue;
    padding: 15px 0 15px 0; 
    margin: 0px 0 20px 0;
}
#services .services-heading i{
    color: #000080;
    font-family: 'Andada', serif;
}
#services h2{
    text-align: center;
}
#services .box{
    text-align: center;
    margin-bottom: 25px;
}
#services .box img{
    width: 100%;
    height: 100%;
}
#services .box .img-box{
    position: relative;
    overflow: hidden;
    margin: 0 0 5px 0;
    border-radius: 0 15px 0 15px;
    box-shadow: 0 0 8px 4px rgba(225, 225, 225, 0.8), 0 0 8px 4px rgba(0, 0, 128, 0.4);
}
#services .box .img-box img{
    max-width: 100%;
    transition: transform 0.75s;
}
#services .box:hover .img-box img{
    transform: scale(1.4);
}

/*-------------------softwares-------------*/
#softwares .container{
    font-family: 'Andada', serif;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(225, 225, 225, 0.8), 0 6px 20px 0 rgba(0, 0, 128, 0.4);
}
#softwares .row a{
    text-align: center;
    color: black;
    font-family: 'Aldrich', sans-serif;
}
#softwares .row a:hover{
    color: #000080;
    text-decoration: underline;
}
#softwares .box{
    text-align: center;
    margin: 10px 20px 20px 18px;
}
#softwares .box img{
    width: 100%;
    height: 100%;
}
#softwares .box .img-box{
    position: relative;
    overflow: hidden;
    margin: 0 0 5px 0;
    border-radius: 10px;
    box-shadow: 0 0 8px 4px rgba(225, 225, 225, 0.8), 0 0 8px 4px rgba(0, 0, 128, 0.4);
}
#softwares .box .img-box img{
    max-width: 100%;
    transition: transform 0.75s;
}
#softwares .box:hover .img-box img{
    transform: scale(1.2);
}

/*------------------services_id-----------------*/
#services_id{
    padding-top: 10px;
    color: black;
    font-size: 14px;
    line-height: 27px;
    letter-spacing: 0.6px;
    overflow: hidden;
    position: relative;
}
#services_id .row h2{
    background-color: #20B2AA;
    border: 2px solid #279f9f;
    border-radius: 5px;
    text-align: center;
    padding: 10px 0 10px 0;
}
#services_id .col-md-3{
    border-radius: 0 15px 0 15px;
    font-family: 'Andada', serif;
}
#services_id .show{
    display: inline-block;
    width: 100%;
    color: black;
    padding: 0.2rem 0.8rem;
}
#services_id .show:hover{
    text-decoration: none;
    background-color: #20B2AA;
    background: linear-gradient(#20B2AA, #ffffff);
    border-radius: 0 15px 0 15px;
    border: 1px solid #000080;
}
#services_id .row p{
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 50px;
    text-align: justify;
}
#services_id .row a:hover{
    color: #000080;
}
#services_id .row ul li{
    color: black;
    text-indent: 30px;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
}
#services_id .row ul li i{
    color: #000080;
}
#services_id .col-md-3 img{
    width: 100%;
}
#services_id .col-md-9{
    padding: 0 20px 0 30px;
}
#services_id .ag-box{
    background-color: #20B2AA;
    height: fit-content;
}

/*------------------softwares_id-----------------*/
#softwares_id{
    padding-top: 10px;
    color: black;
    font-size: 14px;
    line-height: 27px;
    letter-spacing: 0.6px;
    overflow: hidden;
    position: relative;
}
#softwares_id .row h2{
    background-color: #20B2AA;
    border: 2px solid #279f9f;
    border-radius: 5px;
    text-align: center;
    padding: 10px 0 10px 0;
}
#softwares_id .col-md-3{
    border-radius: 0 15px 0 15px;
    font-family: 'Andada', serif;
}
#softwares_id .show{
    display: inline-block;
    width: 100%;
    color: black;
    padding: 0.2rem 0.8rem;
}
#softwares_id .show:hover{
    text-decoration: none;
    background-color: #20B2AA;
    background: linear-gradient(#20B2AA, #ffffff);
    border-radius: 0 15px 0 15px;
    border: 1px solid #000080;
}
#softwares_id .row p{
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 50px;
    text-align: justify;
}
#softwares_id .row a:hover{
    color: #000080;
}
#softwares_id .inline{
    position: relative;
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}
#softwares_id .float{
    padding-right: 20px;
    width: max-content;
    min-width: 50%;
    float: left;
}
#softwares_id ul li{
    list-style-type: none;
    text-indent: 30px;
}
#softwares_id .row ul li i{
    color: #000080;
}
#softwares_id .col-md-3 img{
    width: 100%;
}
#softwares_id .col-md-9{
    padding: 0 20px 0 30px;
}
#softwares_id .ag-box{
    background-color: #20B2AA;
    height: fit-content;
}

/*----------------links-----------*/
#links{
    background-color: aliceblue;
    border-bottom: 3px solid #efefef;
}
#links .container{
    padding: 10px 0px 10px 15px;
    font-family: 'Andada', serif;
    color: black;
    font-size: 14px;
    letter-spacing: 0.7px;
}

/*---------------feature------------*/
#feature{
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
    font-size: 14px;
    line-height: 27px;
    letter-spacing: 0.6px;
}
#feature .container .feature-heading{
    background-color: aliceblue;
    text-align: center;
    padding: 10px 0 10px 0;
    margin: 20px 0 20px 0;
}
#feature h2{
    text-align: center;
}
#feature h4{
    text-align: center;
}
#feature .container h6{
    color: #000080;
    font-style: italic;
    font-family: 'Andada', serif;
    text-align: center;
}
#feature .wrap-item{
    border: 2px solid #000080;
    border-radius: 0 10px 0 10px;
    overflow: hidden;
    height: 370px;
}
#feature .row .item-img{
    padding-top: 15px;
    padding-bottom: 7px;
    background-color: aliceblue;
}
#feature .feature-flex{
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
#feature .feature-flex img{
    width: 15px;
    margin-bottom: 5px;
}
#feature .feature-flex > div{
    width: 48%;
    margin: 10px;
}
#feature .feature-flex > div:nth-last-child(1){
    width: 100%;
}

/*---------------scrolldown-------------*/
#scrolldown{
    position: relative;
    padding: 30px 0 20px 0;
    font-family: 'Andada', serif;
}
#scrolldown .float{
    place-content: center;
    position: relative;
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
}
#scrolldown .float i{
    color: #000080;
}
#scrolldown .float a{
    font-family: Arial, Helvetica, sans-serif;
}
#scrolldown .center{
    text-align: -webkit-center;
    width: 20%;
}

/*----------------projects-----------*/
#projects {
    font-family: 'Source Serif Pro', serif;
}
#projects .row{
    margin-top: 20px;
    margin-bottom: 20px;
}
#projects .row img{
    margin-bottom: 10px;
}
#projects h2{
    color: #000080;
    text-align: center;
    background-color: whitesmoke;
    padding: 0px;
    margin: 0px;
}
#projects .col-md-4{
    background-color:#279f9f;
    padding-top: 10px;
    padding-bottom: 10px;
    height: fit-content;
    margin-bottom: 10px;
}
#projects h6{
    text-align: center;
    font-weight: bold;
    font-size: large;
}
#projects .row p{
    text-indent: 30px;
    text-align: justify;
}
#projects .row a{
    text-align: center;
}
/*-------------contact--------------*/
#contact {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14.7px;
    letter-spacing: 0.6px;
}
#contact .container-fluid {
    background-color: #f8f8f8;
    border: 2px solid #d3d3d3;
    padding: 0px 10px 0px 10px;
    border-radius: 0 15px 0 15px;
}
#contact h2{
    margin-top: 10px;
}
#contact .row a{
    color: #000080;
    text-decoration: underline;
}
#contact .row .col-md-3 i{
    text-indent: 30px;
    color: #000080;
}
#contact .business-hours i{
    text-indent: 30px;
}
#contact button{
    width: 100%;
    height: 32px;
    font-family: 'Aldrich', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    border-radius: 0 10px 0 10px;
}
#contact button:hover{
    color: #ffffff;
    background-color: #000080;
}
#contact label{
    font-family: 'Andada', serif;
    letter-spacing: 0.7px;
}

/*----------------footer---------------*/
#footer{
    background: #20B2AA;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding-top: 20px;
    padding-bottom: 10px;
}
#footer .row p{
    text-indent: 10px;
}
#footer .show{
    display: inline-block;
    color: black;
    padding: 0.3rem 0.8rem;
}
#footer .show:hover{
    text-decoration: none;
    color: #000080;
    background: linear-gradient(#ffffff, #20B2AA);
    border-radius: 0 10px 0 10px;
    border: 1px solid #000080;
}
#footer .btn-link{
    font-size: x-large;
}
#footer .copyright{
    padding-top: 30px;
    text-align: right;
    letter-spacing: 0.7px;
}
#footer .copyright a{
    color: #000080 !important;
    font-family: 'Aldrich', sans-serif;
}
#footer .fa-whatsapp{
    color: #000080;
}


