@media only screen and (max-width:425px){
    
    /*--------slider-----------*/
    #slider .float{        
        flex-wrap: wrap-reverse;
    }
    #slider .float h2{
        font-size: 32px;
    }
    #slider p{
        font-size: 16px;
    }
    #slider .left{
        width: 80%;
    }
    #slider .right{
        margin-bottom: 20px;
        width: 80%;
    }
    #slider .float img{
        width: 100%;
    }

    /*----------about---------*/
    #about .float{
        flex-wrap: wrap-reverse;
    }
    #about .col-md-5 img{
        margin-top: 20px;
    }

    /*-------------softwares-------*/
    #softwares .box{
        width: 50%;
        margin: 10px 0px;
    }
    #softwares .row{
        padding-bottom: 15px;
    }

    /*--------services---------*/    
    #services .services-heading i{
        font-size: 12px;
    }

    /*-----------softwares_id--------*/
    #softwares_id .ag-box{
        margin: 20px;
    }
    #softwares_id .col-md-9{
        padding-left: 20px;
    }
    #softwares_id .row h2{    
        background-color: #ffffff;
        border: none;
        border-radius: 0px;
    }

    /*--------services_id---------*/
    #services_id .ag-box{
        margin: 20px;
    }
    #services_id .col-md-9{
        padding-left: 20px;
    }
    #services_id .row h2{
        background-color: #ffffff;
        border: none;
        border-radius: 0px;
    }

    /*----------feature---------*/
    #feature h6{
        font-size: 12px;
    }    
    #feature .wrap-item{
        border: none;
        border-radius: 0px;
        margin-bottom: 10px;
        height: fit-content;
    }
    #feature .container .col-sm-6{        
        border-bottom: 1px solid #000080;
    }
    
    /*--------swiper----------*/    
    #swiper{
        margin: 15px 0px 5px 0px;
    }
    #swiper .progress{
        margin-bottom: 7px;
    }

    /*----------scrolldown----------*/
    #scrolldown .float{
        font-size: 13px;
    }
    #scrolldown .center{
        width: 50%;
        padding-bottom: 20px;
    }

    /*-----------footer----------*/
    #footer .col-md-3 a{
        margin-left: 10px;
        margin-right: 10px;
    }
    #footer .col-md-3 a:first-child{
        margin-left: 0px;
        margin-right: 0px;
    }
    
}
@media only screen and (max-width:768px){
    
    /*-----------header----------*/
    #hearder a{
        font-size: 13px;
    }
    #header .navbar-brand{
        padding-left: 0rem;
    }
    #header .nav-item{
        padding: 0.5em;
    }
    #header .company-name{
        width: 70%;
    }
    #header .navbar-toggler{
        padding: 0px;
    }
    #header .navbar-toggler img{
        width: 60%;
        height: 60%;
    }

    /*----------marquee----------*/
    .marquee h6{
        font-size: 12px;
    }

    /*--------------about----------*/
    #about{
        padding-bottom: 0px;
        font-size: 13px;
    }
    #about .container{
        padding-bottom: 0px;
    }
    #about h2{
        font-size: 25px;
    }
    #about .btn-primary{
        margin-top: 0px;
    }
    #about .progress{
        margin: 8px 0px;
    }
    #about .row .skills-bar{
        padding-top: 15px;
        padding-bottom: 15px;
    }
    #about .col-md-8{
        padding-top: 10px;
    }

    /*---------swiper-----------*/
    #swiper h2{
        font-size: 25px;
    }
    #swiper h6{
        font-size: 13px;
    }
    
    /*------------profiles---------*/
    #profiles .swiper-slide{
        height: max-content;
    }
    #profiles h2{
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 25px;
    }
    #profiles h5{
        font-size: 18px;
    }
    #profiles h6{
        font-size: 13px;
    }

    /*--------------contact-------------*/
    #contact{
        font-size: 13px;
    }
    #contact label{
        margin-top: 10px;
    }
    #contact .row h2{
        font-size: 25px;
    }
    #contact .business-hours i{
        text-indent: 20px;
    }
    #contact .col-sm-3{
        width: 30%;
        padding-right: 0px;
    }
    #contact .col-sm-9{
        width: 70%;
        padding-left: 5px;
    }
    
    /*---------links---------*/
    #links .container{
        font-size: 12px;
    }
    #links{
        margin-bottom: 0px;
    }

    /*-----------services---------*/    
    #services .container{
        padding-bottom: 0px;
    }
    #services h2{
        font-size: x-large;
    }
    #services .row a{
        font-size: 12px;
    }
    #services .box{
        width: 50%;
        line-height: 14px;
        padding: 0 10px;
        margin-bottom: 20px;
    }
    #services .img-box{
        margin-bottom: 5px;
    }
    #services .parallax{
        height: 250px;
        line-height: 20px;
    }
    #services .parallax .parallax-info{
        padding-top: 0%;
        width: 250px;
    }
    #services .parallax .parallax-info h2{
        font-size: medium;
    }
    #services .parallax .parallax-info ul li{
        font-size: 12px;
    }
    #services .parallax .parallax-info .parallax-style{
        padding: 10px 10px 3px 10px;
    }

    /*---------softwares----------*/
    #softwares p{
        font-size: 13px;
    }
    #softwares .container{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #softwares .box{
        line-height: 14px;
    }
    #softwares .row a{        
        font-size: 12px;
    }

    /*------------softwares-id-------*/
    #softwares_id{
        padding-top: 10px;
    }
    #softwares_id .row p{
        font-size: 13px;
    }
    #softwares_id ul li{
        font-size: 13px;
    }
    #softwares_id h2{
        font-size: 25px;
    }
    #softwares_id h3{
        font-size: 22px;
    }
    #softwares_id h4{
        font-size: 22px;
    }
    #softwares_id h5{
        font-size: 17px;
    }
    #softwares_id a{
        font-size: 13px;
        line-height: initial;
    }
    #softwares_id .row ul li{
        text-indent: 20px;
    }
    #softwares_id .row p{
        text-indent: 20px;
    }

    /*------------services-id-------*/
    #services_id{
        padding-top: 10px;
    }
    #services_id .row p{
        font-size: 13px;
    }
    #services_id ul li{
        font-size: 13px;
    }
    #services_id h2{
        font-size: 25px;
    }
    #services_id h3{
        font-size: 22px;
    }
    #services_id h4{
        font-size: 17px;
    }
    #services_id a{
        font-size: 13px;
        line-height: initial;
    }
    #services_id .row ul li{
        text-indent: 10px;
        font-size: 13px;
    }
    #services_id .row p{
        text-indent: 20px;
    }

    /*---------------feature-----------*/
    #feature{
        margin-top: 5px;
    }
    #feature h2{
        font-size: x-large;
    }
    #feature .feature-flex h5{
        font-size: small;
    }
    #feature .row h4{
        font-size: medium;
    }
    #feature p{
        margin-bottom: 0%;
        font-size: 13px;
    }
    #feature .feature-flex > div{
        width: auto;
    }
    #feature .feature-heading img{
        width: 20px !important;
    }
    #feature .col-sm-6{
        padding: 0px 5px;
    }
    #feature .row img{
        width: 40px;
        padding-bottom: 5px;
    }
    #feature .wrap-item{
        padding: 0 10px;
        height: max-content;
    }

    /*----------footer---------*/
    #footer .row h3{
        font-size: 22px;
        margin-top: 10px;
    }
    #footer .row a{
        font-size: 13px;
        text-indent: 8px;
    }
    #footer .row img{
        width: 100%;
    }
    #footer .col-xs-3{
        font-size: 13px;
        width: 30%;
        text-align: end;
        padding-right: 0px;
        padding-left: 0px;
    }
    #footer .col-xs-9{
        font-size: 13px;
        width: 70%;
    }
    #footer .col-xs-6{
        width: 50%;
    }
    #footer .col-md-3{
        border-left: none !important;
    }
    #footer .col-md-4{
        border-left: none !important;
    }
    #footer .col-sm-3{
        text-align: center;
    }
    #footer .show{
        padding: 10px 0px;
    }
    #footer .col-md-3 .fa{
        font-size: 20px;
    }
    #footer .copyright{
        letter-spacing: 0px;
        padding: 10px 0px;
        font-size: 12px;
        text-align: center;
    }
}