{% extends 'base.html'%}
{%load static%}

{%block content%}

    <body>

            {{need}}
        <br><br>
            {% for data in key %}
                {% for name in data.name %}
                        <p>{{name}}</p>
                {%endfor%}

            {%endfor%}
            <br>
        <br>
        
        {{image}}
            <br>
            <br>
            <br>
            <h5>{{description_1}}</h5>
            <h6>{{description_2}}</h6>


    {{softwares}}




    <br>
    <br><br><br><br>
    <a href="">back</a>

    </body>

{%endblock content%}  