<!DOCTYPE html>
<html lang="en">
    {%load static%}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>

    {{need}}
<br><br>
    {% for data in key %}
        {% for name in data.name %}
                <p>{{name}}</p>
        {%endfor%}

    {%endfor%}
    <br>
   <br>
   
  {{image}}
    <br>
    {{role}}
    <br>
    <h1>{{role}}</h1>{{tools}}
    <br>
    <h5>{{description_1}}</h5>
    <h6>{{description_2}}</h6>


{{softwares}}




<br>
<br><br><br><br>
<a href="">back</a>

</body>
</html>

