{% extends 'base.html'%}
{%load static%}
{%block content%}
    <body>
        <main>
            <div id="slider">
                <div id="header-slider" class="carousel slide corousel-fade" data-ride="carousel">
                    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active" style="background-color: wheat;">
                                <img class="d-block w-100" src="images/serivices/services-industrial-design-image.png" alt="services-industrial-design"></img>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <section id="softwares-solidworks">
            <div class="container">
                <p><a href="{% url 'base' %}">Home</a> >> <a href="{% url 'service' %}">Services</a> >> {{name}}</p>
                <div class="row">
                    <div class="col-md-3 col-xs-12 pt-3 py-3 ag-box fadeInLeft">
                        <h3>Services</h3>
                        <div class="row p-0">
                            <div class="col-md-12">
                                <a style="color: white;">Industrial Design</a><br>
                                <a href="services-civil&arch.html">Civil & Arch</a><br>
                                <a href="services-drawing&drafting.html">Drawign & Drafting</a><br>
                                <a href="services-electrical-design.html">Electrical Design</a><br>
                            </div>
                            <div class="col-md-12">
                                <a href="services-cad-simulation.html">CAD Simulation</a><br>
                                <a href="services-analysis-in-cad.html">Analysis in CAD</a><br>
                                <a href="services-cam-simulation.html">CAM Simulation</a><br>
                                <a href="services-nc-program.html">NC Programming</a><br>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9 col-xs-12 fadeInRight">
                        <h2>{{name}}</h2>
                        <p>{{description_1}}</p>
                        <p>{{description_2}}</p>
                        <h4>Perfomance Role</h4>
                        <ul>
                            {% for role in role %}
                                <li>{{role}}</li>
                            {%endfor%}
                            <!-- <li>2D Designing & Drawing</li>
                            <li>3D Modelling</li>
                            <li>Prototyping</li>
                            <li>Perfomance & Safety Analysis</li> -->
                        </ul>
                        <div class="row">
                            <div class="col-md-6 col-xs-12">
                                <a><img src="images/serivices/services-industrial-design-image-1.jpg" class="w-100 py-3" alt="industrial-image-1"></img></a>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <a><img src="images/serivices/services-industrial-design-image-2.jpg" class="w-100 py-3" alt="industrial-image-1"></img></a>
                            </div>
                        </div><br>
                        <h4>Leading Softwares in Industrial Design</h4>
                        <div class="row">
                            <div class="col-md-6 col-xs-12">
                                <ul>
                                    {%  for tools in tools %}
                                        <li>{{tools}}</li>
                                    {%endfor%}
                                    <!-- <li>CREO</li>
                                    <li>SOLIDWORKS</li>
                                    <li>Unigraphics</li>
                                    <li>ANSYS Workbench</li>
                                    <li>CATIA</li> -->
                                </ul>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <ul>
                                    <!-- <li>CATIA Kinematics</li>
                                    <li>NX CAD</li>
                                    <li>Solidworks Motion</li>
                                    <li>CREO Simulate</li>
                                    <li>Autodesk Inventor</li>
                                    <li>Autodesk Fusion</li> -->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>           
            </div>
        </section>
    </body>
{%endblock content%}        