{% extends 'base.html'%}

{% load static %}

{%block content%}
<body>
    <main>
        <div id="slider">
            <div id="header-slider" class="carousel slide corousel-fade" data-ride="carousel">
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" style="background-color: wheat;">
                            <img class="d-block w-100" src="../static/images/serivices/services-industrial-design-image.png" alt="services-industrial-design"></img>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <section id="links">
        <div class="container">
            <a href="{% url 'base' %}">Home</a> > <a href="{% url 'softwares' %}"> Softwares </a> > {{name}}
        </div>
    </section>

    <section id="services_id">
        <div class="container">            
            <div class="row">
                <div class="col-md-3 col-xs-12 pt-3 py-3 ag-box fadeInLeft">
                    <h3>Softwares</h3>
                    <div class="row p-0">
                        <div class="col-md-12">
                            {% for data in softwares %}
                                {%if data.softwares_active %}
                                    <a class="show" href="{% url 'softwares_id' data.id %}">{{data.name}}</a><br>
                                {%endif%}
                            {%endfor%}
                        </div>
                    </div>
                </div>
                <div class="col-md-9 col-xs-12 fadeInRight">
                    <h2>{{name}}</h2>
                    <p>{{description_1}}</p>
                    <p>{{description_2}}</p>
                    <p>{{description_3}}</p> 
                    <div class="row">                            
                        <div class="col-md-6 col-xs-12">
                            <a><img src="{{image_1.url}}" class="w-100 py-3" alt="{{name}}"></img></a>
                        </div>
                        {% if image_active %}
                        <div class="col-md-6 col-xs-12">
                            <a><img src="{{image_2.url}}" class="w-100 py-3" alt="{{name}}"></img></a>
                        </div>
                        {%endif%}
                    </div>
                    <h4>Features & Objectives :</h4>
                    <div class="row">
                        {% for data in head %}
                            <div class="col-md-6 col-sm-12">
                                <h5>{{data.head}}</h5>
                                <ul>
                                    {% for content in data.content %}
                                    <li>{{content}}</li>
                                    {%endfor%}
                                </ul>
                            </div>
                        {%endfor%}
                        </div>
                    </div>
                </div>
            </div>           
        </div>
    </section>
</body>
{%endblock content%}