{% extends 'base.html'%}
{%load static%}
{%block content%}
        
        <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="../static/images/body-slider-4.jpg" alt="serivices-image">
            </div>
        </div><br>

        <section id="softwares-solidworks">
            <div class="container">
                <p><a href="index.html">Home</a> >> <a>{{title}}</a></p>
            </div>
        </section>

        <section id="services">
            <div class="container-fluid home-product">
                <div class="container">
                    <div class="row">
                        {% for data in softwares%}
                            <div class="col-md-3 col-xs-6 box">
                                <div class="img-box">
                                    <a href="">
                                        <img src="{{data.image.url}}" alt="{{data.name}}" class="img-responsive" title="{{data.name}}">
                                    </a>
                                </div>
                                <a href="">{{data.name}}</a>
                                <br>
                                {% for head in data.head %}
                                    <b><a href="">{{head.head}}</a></b>
                                        {% for content in head.content %}
                                            <p>{{content}}</p>
                                        {%endfor%}
                                {%endfor%} 
                                
                            <!--    {% for head in data.head%}

                                    <b><p>{{head.head}}</p></b>

                                    {% for content in head.content%}
                                        <p>{{content}}</p>
                                    {%endfor%}

                                {%endfor%} -->
                            </div>                                          
                        {%endfor%}   
                    </div>
                </div>
            </div>
        </section><br>

{%endblock content%}