{% extends 'base.html'%}
{%load static%}
{%block content%}        
    <main>
        <div id="slider">
            <div id="header-slider" class="carousel slide corousel-fade" data-ride="carousel">
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                        <img class="d-block w-100" src="../static/images/body-slider-4.jpg" alt="softwares-image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <section id="links">
        <div class="container">
            <a href="{% url 'home' %}"> Home </a> > {{title}}
        </div>
    </section><br>
    <section id="softwares">
        <div class="container">
            <div class="row">
                {% for data in softwares %}
                    <div class="col-md-2 col-sm-6 box" data-aos="zoom-in">
                        <div class="img-box">
                            <a href="{% url 'softwares_id' data.name %}">
                                <img src="{{data.logo.url}}" alt="{{data.name}}" class="img-responsive" title="{{data.name}}">
                            </a>
                        </div>
                        <a href="{% url 'softwares_id' data.name %}">{{data.name}}</a>
                    </div>
                {%endfor%}
            </div>
            <p style="font-family: monospace; text-align: justify;" data-aos="zoom-in"><strong>Disclaimer : </strong>
                <i>All product and company names are trademarks™ or registered® trademarks of their 
                respective holders. Use of these product and company names on this page does not imply any endorsement or our 
                affiliation with them. All the mentions only imply that our services are compliant to the above-listed products 
                in entirety.</i></p>
        </div>
    </section>
{%endblock content%}